html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  min-height: 100%;
}

html {
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

:root {
  font-family: 'Geologica', sans-serif;
  color: #F3D18C;
  line-height: 1.1;
  font-weight: 200;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #9c7933;
  text-decoration: inherit;
}
a:hover {
  color: #C33B18;
}

body {
  margin: 5;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(180deg, #000000 0%, #000000 70%, #333337 93%, #6c6c74 100%);
}

h1 {
  font-size: 3.5em;
  line-height: 0.5;
  color: #F59646;;
}

h2 {
  font-size: 1.8em;
  line-height: 1.1;
  color: #F7B075;
}

h3 {
  font-size: 1.5em;
  line-height: 1.1;
  color: #F7B075;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 1em;
  font-size: 1em;
  font-weight: 550;
  font-family: inherit;
  background-color: #F3D18C;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  color: #C33B18
}
